<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <!--We need the 'probing' node to tell the application's primary AppDomain where to go looking for
  mods. Otherwise, it only looks in the folder containing the actual .exe application.-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="MoreTails"/>
    </assemblyBinding>
  </runtime>
</configuration>